$background-color: #303f62;
$primary-color: #435585;
$button-color: #818FB4;
$text-color: #F5E8C7;

body {
  background-color: $background-color;
  color: $text-color;
}

button, .btn {
  background-color: $button-color;
  border-color: $button-color;
  color: $text-color;

  &:hover, &:active, &:focus {
    background-color: $button-color;
    border-color: $button-color;
    color: $text-color;
  }
}

input, select {
  background-color: $text-color;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid $button-color;
  box-shadow: none;
}

a {
  color: $text-color
}

.profile-view .card {
  background-color: $text-color;
  color: $primary-color;
}

.card {
  background-color: $primary-color;
  color: $text-color;
}

.navbar {
  background-color: $primary-color;
  color: $text-color;
  border-radius: 4px;

  a {
    color: $text-color;

    &:hover, &:visited, &:active {
      color: $text-color;
    }

  }
}

.navbar-toggler {
  border: none;
  background-color: $text-color;
  padding: 8px;
  outline: none;

  &:focus, &:hover {
    background-color: $text-color;
  }
}

.navbar-toggler-icon {
  background-color: $text-color;
}

.Title {
  font-family: Cambria, serif;
  font-weight: 600;
  font-size: 22px;
}

.ReleaseYear {
  font-style: italic;
}

.Genre, .Director {
  font-family: Cambria, serif;
  font-weight: 600;
}